In [135]:
import pandas as pd

In [136]:
fifa_data = pd.read_csv("fifa21.csv", low_memory=False)
fifa_data.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [137]:
# Display basic information about the dataset
print("Original Data:")
print(fifa_data.info())

Original Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB
None

In [138]:
# Handling missing values
# For simplicity, let's drop rows with missing values
#fifa_data = fifa_data.dropna()

In [139]:
# Display the column names
print("Column Names:")
print(fifa_data.columns)

Column Names:
Index(['ID', 'Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Age',
       '↓OVA', 'POT', 'Club', 'Contract', 'Positions', 'Height', 'Weight',
       'Preferred Foot', 'BOV', 'Best Position', 'Joined', 'Loan Date End',
       'Value', 'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [140]:
# Drop the columns 'photoUrl' and 'playerUrl'
columns_to_drop = ['photoUrl', 'playerUrl']
fifa_data = fifa_data.drop(columns=columns_to_drop)

In [141]:
# Convert 'Value' and 'Wage' columns to numeric
fifa_data['Value'] = fifa_data['Value'].replace('[\€KM]', '', regex=True).apply(lambda x: 1e3 if 'K' in x else 1e6).astype(float) * fifa_data['Value'].replace('[\€KM]', '', regex=True).astype(float)
fifa_data['Wage'] = fifa_data['Wage'].replace('[\€KM]', '', regex=True).apply(lambda x: 1e3 if 'K' in x else 1e6).astype(float) * fifa_data['Wage'].replace('[\€KM]', '', regex=True).astype(float)

In [142]:
# Convert 'Release Clause' column to numeric
fifa_data['Release Clause'] = fifa_data['Release Clause'].replace('[\€KM]', '', regex=True).apply(lambda x: 1e3 if 'K' in x else 1e6).astype(float) * fifa_data['Release Clause'].replace('[\€KM]', '', regex=True).astype(float)

In [143]:
fifa_data["Contract"].head()

0    2004 ~ 2021
1    2018 ~ 2022
2    2014 ~ 2023
3    2015 ~ 2023
4    2017 ~ 2022
Name: Contract, dtype: object

In [144]:
# Split the 'Contract' column into two columns using the '~' delimiter
fifa_data[['Contract Start', 'Contract End']] = fifa_data['Contract'].str.split('~', expand=True)

# Drop the original 'Contract' column
fifa_data = fifa_data.drop(columns=['Contract'])

In [145]:
fifa_data[['Contract Start', 'Contract End']].head()

  Contract Start Contract End
0          2004          2021
1          2018          2022
2          2014          2023
3          2015          2023
4          2017          2022

In [146]:
# Fill empty cells in the 'Loan Date' column with 'NA'
fifa_data['Loan Date End'] = fifa_data['Loan Date End'].fillna('NA')
fifa_data['Loan Date End'].head()

0    NA
1    NA
2    NA
3    NA
4    NA
Name: Loan Date End, dtype: object

In [147]:
fifa_data["Height"].head()

0    170cm
1    187cm
2    188cm
3    181cm
4    175cm
Name: Height, dtype: object

In [148]:
# Remove "cm" from the 'Height' column
fifa_data['Height'] = fifa_data['Height'].str.replace('cm', '')

# Rename the 'Height' column to 'Height (cm)'
fifa_data = fifa_data.rename(columns={'Height': 'Height(cm)'})
fifa_data['Height(cm)'].head()

0    170
1    187
2    188
3    181
4    175
Name: Height(cm), dtype: object

In [149]:
# Identify non-numeric values in "Height(cm)" column
non_numeric_heights = pd.to_numeric(fifa_data["Height(cm)"], errors='coerce').isna()
fifa_data[non_numeric_heights]['Height(cm)'].head(3)

793    6'2"
847    6'3"
848    6'5"
Name: Height(cm), dtype: object

In [150]:
# Convert "Height(cm)" column to centimeters
def convert_height(height):
    try:
        # Extract feet and inches
        feet, inches = map(int, height.replace("\"", "").split("'"))
        # Convert to centimeters
        total_centimeters = feet * 30.48 + inches * 2.54
        return total_centimeters
    except (ValueError, TypeError):
        return None  # Return None for cases where conversion fails

In [151]:
fifa_data["Height(cm)"] = fifa_data["Height(cm)"].apply(convert_height)

In [152]:
fifa_data['Weight'].head()

0    72kg
1    83kg
2    87kg
3    70kg
4    68kg
Name: Weight, dtype: object

In [153]:
# Remove "kg" from the 'Weight' column
fifa_data['Weight'] = fifa_data['Weight'].str.replace('kg', '')

In [154]:
# Rename the 'Weight' column to 'Weight(kg)'
fifa_data = fifa_data.rename(columns={'Weight': 'Weight(kg)'})
fifa_data['Weight(kg)'].head()

0    72
1    83
2    87
3    70
4    68
Name: Weight(kg), dtype: object

In [155]:
# Remove "lbs" from "Weight(kg)" column, convert to numeric, and convert pounds to kilograms
fifa_data["Weight(kg)"] = pd.to_numeric(fifa_data["Weight(kg)"].str.replace("lbs", ""), errors='coerce')
fifa_data["Weight(kg)"] = fifa_data["Weight(kg)"] * 0.453592  # 1 pound = 0.453592 kilograms

In [156]:
fifa_data["W/F"].head()

0    4 ★
1    4 ★
2    3 ★
3    5 ★
4    5 ★
Name: W/F, dtype: object

In [157]:
# Extract only the numeric part from the 'W/F' column
fifa_data['W/F'] = fifa_data['W/F'].str.extract('(\d+)')
fifa_data['W/F'].head()

0    4
1    4
2    3
3    5
4    5
Name: W/F, dtype: object

In [158]:
# Rename the 'W/F' column to 'W/F(stars)'
fifa_data = fifa_data.rename(columns={'W/F': 'W/F(stars)'})
fifa_data['W/F(stars)'].head()

0    4
1    4
2    3
3    5
4    5
Name: W/F(stars), dtype: object

In [159]:
fifa_data['SM'].head()

0    4★
1    5★
2    1★
3    4★
4    5★
Name: SM, dtype: object

In [160]:
# Extract only the numeric part from the 'SM' column
fifa_data['SM'] = fifa_data['SM'].str.extract('(\d+)')

# Rename the 'W/F' column to 'W/F(stars)'
fifa_data = fifa_data.rename(columns={'SM': 'SM(stars)'})
fifa_data['SM(stars)'].head()

0    4
1    5
2    1
3    4
4    5
Name: SM(stars), dtype: object

In [161]:
# Extract only the numeric part from the 'IR' column
fifa_data['IR'] = fifa_data['IR'].str.extract('(\d+)')

# Rename the 'IR' column to 'IR(stars)'
fifa_data = fifa_data.rename(columns={'IR': 'IR(stars)'})
fifa_data['IR(stars)'].head()

0    5
1    5
2    3
3    4
4    5
Name: IR(stars), dtype: object

In [162]:
fifa_data['Hits'].head(10)

0     771
1     562
2     150
3     207
4     595
5     248
6     246
7     120
8    1.6K
9     130
Name: Hits, dtype: object

In [163]:
# Define a function to process the 'Hits' column
def process_hits(hits):
    if isinstance(hits, float):
        return hits
    elif 'K' in hits:
        return float(hits.replace('K', '')) * 1000
    else:
        return float(hits)

# Apply the function to the 'Hits' column
fifa_data['Hits'] = fifa_data['Hits'].apply(process_hits)

fifa_data['Hits'].head(10)

0     771.0
1     562.0
2     150.0
3     207.0
4     595.0
5     248.0
6     246.0
7     120.0
8    1600.0
9     130.0
Name: Hits, dtype: float64

In [164]:
# Display the cleaned dataset
print("\nCleaned Data:")
print(fifa_data.info())

Cleaned Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 76 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Age               18979 non-null  int64
 5   ↓OVA              18979 non-null  int64
 6   POT               18979 non-null  int64
 7   Club              18979 non-null  object
 8   Positions         18979 non-null  object
 9   Height(cm)        40 non-null     float64
 10  Weight(kg)        18979 non-null  float64
 11  Preferred Foot    18979 non-null  object
 12  BOV               18979 non-null  int64
 13  Best Position     18979 non-null  object
 14  Joined            18979 non-null  object
 15  Loan Date End     18979 non-null  object
 16  Value             18979 non-null  float64
 17  Wage              18979 non-null  float64
 18  Release Clause    18979 non-null  float64
 19  Attacking         18979 non-null  int64
 20  Crossing          18979 non-null  int64
 21  Finishing         18979 non-null  int64
 22  Heading Accuracy  18979 non-null  int64
 23  Short Passing     18979 non-null  int64
 24  Volleys           18979 non-null  int64
 25  Skill             18979 non-null  int64
 26  Dribbling         18979 non-null  int64
 27  Curve             18979 non-null  int64
 28  FK Accuracy       18979 non-null  int64
 29  Long Passing      18979 non-null  int64
 30  Ball Control      18979 non-null  int64
 31  Movement          18979 non-null  int64
 32  Acceleration      18979 non-null  int64
 33  Sprint Speed      18979 non-null  int64
 34  Agility           18979 non-null  int64
 35  Reactions         18979 non-null  int64
 36  Balance           18979 non-null  int64
 37  Power             18979 non-null  int64
 38  Shot Power        18979 non-null  int64
 39  Jumping           18979 non-null  int64
 40  Stamina           18979 non-null  int64
 41  Strength          18979 non-null  int64
 42  Long Shots        18979 non-null  int64
 43  Mentality         18979 non-null  int64
 44  Aggression        18979 non-null  int64
 45  Interceptions     18979 non-null  int64
 46  Positioning       18979 non-null  int64
 47  Vision            18979 non-null  int64
 48  Penalties         18979 non-null  int64
 49  Composure         18979 non-null  int64
 50  Defending         18979 non-null  int64
 51  Marking           18979 non-null  int64
 52  Standing Tackle   18979 non-null  int64
 53  Sliding Tackle    18979 non-null  int64
 54  Goalkeeping       18979 non-null  int64
 55  GK Diving         18979 non-null  int64
 56  GK Handling       18979 non-null  int64
 57  GK Kicking        18979 non-null  int64
 58  GK Positioning    18979 non-null  int64
 59  GK Reflexes       18979 non-null  int64
 60  Total Stats       18979 non-null  int64
 61  Base Stats        18979 non-null  int64
 62  W/F(stars)        18979 non-null  object
 63  SM(stars)         18979 non-null  object
 64  A/W               18979 non-null  object
 65  D/W               18979 non-null  object
 66  IR(stars)         18979 non-null  object
 67  PAC               18979 non-null  int64
 68  SHO               18979 non-null  int64
 69  PAS               18979 non-null  int64
 70  DRI               18979 non-null  int64
 71  DEF               18979 non-null  int64
 72  PHY               18979 non-null  int64
 73  Hits              16384 non-null  float64
 74  Contract Start    18979 non-null  object
 75  Contract End      17729 non-null  object
dtypes: float64(6), int64(54), object(16)
memory usage: 11.0+ MB
None

In [165]:
fifa_data.head()

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Positions,Height(cm),...,IR(stars),PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract Start,Contract End
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,"RW, ST, CF",NaN,...,5,85,92,91,95,38,65,771.0,2004,2021
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,\n\n\n\nJuventus,"ST, LW",NaN,...,5,89,93,81,89,35,77,562.0,2018,2022
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,GK,NaN,...,3,87,92,78,90,52,90,150.0,2014,2023
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,"CAM, CM",NaN,...,4,76,86,93,88,64,78,207.0,2015,2023
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,"LW, CAM",NaN,...,5,91,85,86,94,36,59,595.0,2017,2022

In [166]:
# Remove newline characters from the 'Club' column
fifa_data['Club'] = fifa_data['Club'].str.replace('\n', '')
fifa_data.head()

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Positions,Height(cm),...,IR(stars),PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract Start,Contract End
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,"RW, ST, CF",NaN,...,5,85,92,91,95,38,65,771.0,2004,2021
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,"ST, LW",NaN,...,5,89,93,81,89,35,77,562.0,2018,2022
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,GK,NaN,...,3,87,92,78,90,52,90,150.0,2014,2023
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,"CAM, CM",NaN,...,4,76,86,93,88,64,78,207.0,2015,2023
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,"LW, CAM",NaN,...,5,91,85,86,94,36,59,595.0,2017,2022

In [167]:
# Split the 'Positions' column into multiple columns based on commas
positions_split = fifa_data['Positions'].str.split(',', expand=True)

In [168]:
# Display the DataFrame with the new columns
fifa_data = pd.concat([fifa_data, positions_split], axis=1)
fifa_data

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Positions,Height(cm),...,PAS,DRI,DEF,PHY,Hits,Contract Start,Contract End,0,1,2
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,"RW, ST, CF",NaN,...,91,95,38,65,771.0,2004,2021,RW,ST,CF
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,"ST, LW",NaN,...,81,89,35,77,562.0,2018,2022,ST,LW,None
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,GK,NaN,...,78,90,52,90,150.0,2014,2023,GK,None,None
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,"CAM, CM",NaN,...,93,88,64,78,207.0,2015,2023,CAM,CM,None
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,"LW, CAM",NaN,...,86,94,36,59,595.0,2017,2022,LW,CAM,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,Xia Ao,Ao Xia,China PR,21,47,55,Wuhan Zall,CB,NaN,...,26,38,48,51,NaN,2018,2022,CB,None,None
18975,258760,B. Hough,Ben Hough,England,17,47,67,Oldham Athletic,CM,NaN,...,48,49,35,45,NaN,2020,2021,CM,None,None
18976,252757,R. McKinley,Ronan McKinley,England,18,47,65,Derry City,CM,NaN,...,44,46,40,53,NaN,2019,2020,CM,None,None
18977,243790,Wang Zhen'ao,Zhen'ao Wang,China PR,20,47,57,Dalian YiFang FC,RW,NaN,...,41,49,30,44,NaN,2020,2022,RW,None,None
18978,252520,Zhou Xiao,Xiao Zhou,China PR,21,47,57,Dalian YiFang FC,"CB, LB",NaN,...,39,42,45,55,NaN,2019,2023,CB,LB,None

In [169]:
# Clean each new position column (e.g., removing leading/trailing whitespaces)
for col in positions_split.columns:
    fifa_data[col] = fifa_data[col].str.strip()

In [170]:
# Drop the original 'Positions' column and unnecessary intermediate columns
fifa_data = fifa_data.drop(['Positions'], axis=1)

In [171]:
# Rename the specified columns
column_mapping = {0: 'position 1', 1: 'position 2', 2: 'position 3'}
fifa_data = fifa_data.rename(columns=column_mapping)

In [172]:
fifa_data.head()

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Height(cm),Weight(kg),...,PAS,DRI,DEF,PHY,Hits,Contract Start,Contract End,position 1,position 2,position 3
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,NaN,32.658624,...,91,95,38,65,771.0,2004,2021,RW,ST,CF
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,NaN,37.648136,...,81,89,35,77,562.0,2018,2022,ST,LW,None
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,NaN,39.462504,...,78,90,52,90,150.0,2014,2023,GK,None,None
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,NaN,31.751440,...,93,88,64,78,207.0,2015,2023,CAM,CM,None
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,NaN,30.844256,...,86,94,36,59,595.0,2017,2022,LW,CAM,None

In [174]:
#Save the cleaned data to a new CSV file if needed
fifa_data.to_csv(r"C:\Users\jcash\OneDrive\Downloads\fifa21_cleaned.csv", index=False)